p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.lz {
    background-color: #efefef;
    border-left: 0;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 20px 0px 20px 0px;
}
