p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.lz {
    background-color: #efefef;
    border-radius: 10px;
    padding: 20px 20px 10px 75px; /* Platz für das Bild links einfügen */
    margin: 20px 0px 20px 0px;
    position: relative; /* Relativ für absolute Positionierung des Bildes */
    display: flex;
    align-items: center;
}

.lz-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;  /* Größe des Icons anpassen */
    height: auto;
    display: inline-block;
}

.figure {margin-top: 50px; margin-bottom: 50px}

.figure .caption {
  font-size: 0.8em; 
}

table .caption {font-size: 0.8em;}

.exkurs {
  border-left: 5px solid #444;
  background-color: #f6f6f6;
  padding: 1em;
  margin: 1.5em 0;
}
.exkurs-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

